{# div.temp*10 #}
<div class="recipe recipe-list-item">
  <div class="recipe-cover">
    <img
      src="https://imgs.search.brave.com/LPeCjPOKD3r0DeBfSUwfjH-YsXgJeGVHh3xRvf1hEN4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/cmFjby5jb20uYnIv/Y2RuL3Nob3AvYXJ0/aWNsZXMvb3V0LTBf/NDMwMTk1NWQtZjI4/NC00NjNjLWI1NmEt/MjQzZDQ3NjcyNTAz/LnBuZz92PTE3NDQx/MjIxMTgmd2lkdGg9/NTAw"
      alt="Temporary Image"
    />
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
  </div>

  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fas fa-user"></i>
      Otávio Miranda
    </span>
    <span class="recipe-author-item">
      <i class="fas fa-calendar-alt"></i>
      16/10/2021 às 11:21
    </span>
    <span class="recipe-author-item">
      <a href="/recipes/category/cafe-da-manha/">
        <i class="fas fa-layer-group"></i>
        <span>Café da manhã</span>
      </a>
    </span>
  </div>

  <div class="recipe-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc
      ut laoreet venenatis, nunc nisl aliquam nunc, eu aliquam nisl nunc eu
      nisl.
    </p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title">
        <i class="fas fa-stopwatch"></i> Preparo
      </h3>
      <div class="recipe-meta-text">0 Minutos</div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title">
        <i class="fas fa-pizza-slice"></i> Porções
      </h3>
      <div class="recipe-meta-text">0 Porções</div>
    </div>
  </div>

  <footer class="recipe-footer">
    <a
      class="recipe-read-more button button-dark button-full-width"
      href="/recipes/3/"
    >
      <i class="fas fa-eye"></i>
      <span>ver mais...</span>
    </a>
  </footer>
</div>
