{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {# div.temp*10 #}
            <div class='recipe recipe-list-item'>
                <div class='recipe-cover'>
                    <img src='https://imgs.search.brave.com/LPeCjPOKD3r0DeBfSUwfjH-YsXgJeGVHh3xRvf1hEN4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/cmFjby5jb20uYnIv/Y2RuL3Nob3AvYXJ0/aWNsZXMvb3V0LTBf/NDMwMTk1NWQtZjI4/NC00NjNjLWI1NmEt/MjQzZDQ3NjcyNTAz/LnBuZz92PTE3NDQx/MjIxMTgmd2lkdGg9/NTAw' alt='Temporary Image'>
                </div>
                <h1>Oi</h1>
            </div>   
        </div>
    </main>
</body>
</html>
